.container {
  max-width: 540px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;
}

.weather-app {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 30px auto;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

.weather-temperature img {
  margin-right: 20px;
  height: 90px;
  width: 90px;
}

.weather-temperature strong {
  font-size: 40px;
  line-height: 1;
  font-weight: 400px;
}

input,
label {
  text-align: left;
  border-color: #000;
  margin: 5px;
}

.units {
  font-size: 20px;
}

.temperature {
  font-size: 35px;
}
